In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('titanic_train.csv')

In [3]:
#dat2 = pd.read_csv('titanic_test.csv')

In [4]:
#dataset = pd.concat([dat1,dat2])

In [3]:
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
# removing irrelevant features
dataset.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
dataset.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [5]:
inputs = dataset.drop('Survived',axis='columns')
target = dataset.Survived.fillna(dataset.Survived.mode())

In [6]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [7]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [8]:
# now lets check for blank values
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [9]:
# We see that Age and fare contain blank values
# lets fill them with mean values

In [10]:
inputs['Age'] = inputs.fillna(inputs.Age.mean())

In [11]:
#inputs['Fare'] = inputs.fillna(inputs.Fare.mean())

In [12]:
inputs.columns[inputs.isna().any()] # no blank values now

Index([], dtype='object')

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [91]:
from sklearn.naive_bayes import GaussianNB

In [92]:
model = GaussianNB()

In [93]:
model.fit(X_train,y_train)

GaussianNB()

In [94]:
model.score(X_test,y_test)

0.7649253731343284

In [102]:
from sklearn.model_selection import KFold

In [103]:
kf = KFold(n_splits = 3)

In [104]:
from sklearn.model_selection import cross_val_score

In [108]:
cross_val_score(model,inputs,target, cv = 3) # CV gets us number of folds

array([0.69023569, 0.75757576, 0.78114478])

In [111]:
model.predict_proba(X_test) # to get the probability

array([[9.11282810e-01, 8.87171899e-02],
       [9.80078175e-01, 1.99218250e-02],
       [1.15631544e-01, 8.84368456e-01],
       [5.74509367e-03, 9.94254906e-01],
       [4.42179974e-01, 5.57820026e-01],
       [9.16952836e-01, 8.30471636e-02],
       [1.95265599e-01, 8.04734401e-01],
       [9.78741587e-01, 2.12584133e-02],
       [8.16414653e-03, 9.91835853e-01],
       [2.04665903e-01, 7.95334097e-01],
       [9.80088343e-01, 1.99116572e-02],
       [2.01515149e-01, 7.98484851e-01],
       [9.80088343e-01, 1.99116572e-02],
       [5.35675651e-01, 4.64324349e-01],
       [4.55041187e-01, 5.44958813e-01],
       [9.80076039e-01, 1.99239610e-02],
       [9.80219840e-01, 1.97801600e-02],
       [5.06269010e-01, 4.93730990e-01],
       [1.82212609e-02, 9.81778739e-01],
       [4.41130190e-01, 5.58869810e-01],
       [5.74509367e-03, 9.94254906e-01],
       [4.54624613e-01, 5.45375387e-01],
       [9.69611671e-01, 3.03883287e-02],
       [9.80381949e-01, 1.96180506e-02],
       [5.36898072e-01, 4.63101928e-01],
       [9.80016910e-01, 1.99830898e-02],
       [7.17774187e-01, 2.82225813e-01],
       [1.10001494e-02, 9.88999851e-01],
       [9.12755438e-01, 8.72445617e-02],
       [9.80090797e-01, 1.99092029e-02],
       [9.76807988e-01, 2.31920123e-02],
       [9.80160737e-01, 1.98392629e-02],
       [9.80084133e-01, 1.99158666e-02],
       [9.17349646e-01, 8.26503544e-02],
       [1.73400901e-03, 9.98265991e-01],
       [9.80088343e-01, 1.99116572e-02],
       [9.59360204e-01, 4.06397957e-02],
       [5.23569975e-01, 4.76430025e-01],
       [1.65755944e-01, 8.34244056e-01],
       [9.79567354e-01, 2.04326465e-02],
       [9.80327997e-01, 1.96720029e-02],
       [9.80076039e-01, 1.99239610e-02],
       [9.16952836e-01, 8.30471636e-02],
       [9.17331012e-01, 8.26689882e-02],
       [9.15834681e-01, 8.41653191e-02],
       [9.69611671e-01, 3.03883287e-02],
       [9.80084133e-01, 1.99158666e-02],
       [1.86213380e-03, 9.98137866e-01],
       [9.80228656e-01, 1.97713440e-02],
       [1.48088209e-03, 9.98519118e-01],
       [3.20269364e-01, 6.79730636e-01],
       [1.96506725e-03, 9.98034933e-01],
       [4.32671877e-05, 9.99956733e-01],
       [9.80088343e-01, 1.99116572e-02],
       [5.37027604e-01, 4.62972396e-01],
       [5.32731088e-01, 4.67268912e-01],
       [1.44281816e-02, 9.85571818e-01],
       [9.78806959e-01, 2.11930408e-02],
       [5.32870215e-01, 4.67129785e-01],
       [5.35446886e-01, 4.64553114e-01],
       [9.17323212e-01, 8.26767881e-02],
       [1.93642082e-01, 8.06357918e-01],
       [9.80088343e-01, 1.99116572e-02],
       [9.80078175e-01, 1.99218250e-02],
       [8.99581402e-01, 1.00418598e-01],
       [2.02760238e-01, 7.97239762e-01],
       [1.95265599e-01, 8.04734401e-01],
       [3.74323586e-03, 9.96256764e-01],
       [9.79985424e-01, 2.00145761e-02],
       [9.80002208e-01, 1.99977923e-02],
       [2.03873725e-01, 7.96126275e-01],
       [9.80091280e-01, 1.99087199e-02],
       [9.80160737e-01, 1.98392629e-02],
       [9.17323212e-01, 8.26767881e-02],
       [1.13693925e-10, 1.00000000e+00],
       [5.32870215e-01, 4.67129785e-01],
       [3.45063356e-01, 6.54936644e-01],
       [4.68742912e-01, 5.31257088e-01],
       [5.35153869e-01, 4.64846131e-01],
       [9.80088343e-01, 1.99116572e-02],
       [8.82142541e-46, 1.00000000e+00],
       [5.17182537e-01, 4.82817463e-01],
       [9.80088343e-01, 1.99116572e-02],
       [1.20861445e-13, 1.00000000e+00],
       [9.12755438e-01, 8.72445617e-02],
       [4.94144723e-01, 5.05855277e-01],
       [9.77846603e-01, 2.21533975e-02],
       [9.80017381e-01, 1.99826189e-02],
       [5.33364724e-01, 4.66635276e-01],
       [5.29927288e-01, 4.70072712e-01],
       [4.23462433e-01, 5.76537567e-01],
       [1.95265599e-01, 8.04734401e-01],
       [9.80088343e-01, 1.99116572e-02],
       [1.74918623e-02, 9.82508138e-01],
       [4.25296590e-01, 5.74703410e-01],
       [9.80019709e-01, 1.99802911e-02],
       [1.13831569e-01, 8.86168431e-01],
       [1.01524942e-02, 9.89847506e-01],
       [9.80017381e-01, 1.99826189e-02],
       [9.80016910e-01, 1.99830898e-02],
       [1.85172379e-02, 9.81482762e-01],
       [8.90071352e-01, 1.09928648e-01],
       [4.29707767e-01, 5.70292233e-01],
       [9.80073462e-01, 1.99265379e-02],
       [6.96758480e-02, 9.30324152e-01],
       [5.37023757e-01, 4.62976243e-01],
       [1.99397068e-01, 8.00602932e-01],
       [9.80017381e-01, 1.99826189e-02],
       [9.80088343e-01, 1.99116572e-02],
       [4.03983727e-01, 5.96016273e-01],
       [9.80091280e-01, 1.99087199e-02],
       [9.80387205e-01, 1.96127949e-02],
       [9.17349646e-01, 8.26503544e-02],
       [4.55294854e-01, 5.44705146e-01],
       [1.34600220e-08, 9.99999987e-01],
       [1.01524942e-02, 9.89847506e-01],
       [9.80373012e-01, 1.96269877e-02],
       [2.03270826e-01, 7.96729174e-01],
       [9.80396634e-01, 1.96033655e-02],
       [9.80062544e-01, 1.99374562e-02],
       [9.17256737e-01, 8.27432630e-02],
       [9.74387106e-01, 2.56128945e-02],
       [4.94144723e-01, 5.05855277e-01],
       [9.80103692e-01, 1.98963076e-02],
       [5.36328177e-01, 4.63671823e-01],
       [9.80019709e-01, 1.99802911e-02],
       [9.80365421e-01, 1.96345790e-02],
       [5.32973829e-01, 4.67026171e-01],
       [8.99143617e-01, 1.00856383e-01],
       [1.94871035e-01, 8.05128965e-01],
       [5.28256827e-05, 9.99947174e-01],
       [3.20269364e-01, 6.79730636e-01],
       [5.31449548e-01, 4.68550452e-01],
       [9.17323212e-01, 8.26767881e-02],
       [9.80019709e-01, 1.99802911e-02],
       [2.03873725e-01, 7.96126275e-01],
       [9.17323212e-01, 8.26767881e-02],
       [9.17323212e-01, 8.26767881e-02],
       [5.36898072e-01, 4.63101928e-01],
       [9.80103692e-01, 1.98963076e-02],
       [2.03873725e-01, 7.96126275e-01],
       [3.41737846e-03, 9.96582622e-01],
       [9.79568647e-01, 2.04313528e-02],
       [9.10042539e-01, 8.99574605e-02],
       [9.78498716e-01, 2.15012845e-02],
       [2.27259922e-03, 9.97727401e-01],
       [2.04665903e-01, 7.95334097e-01],
       [5.32528832e-01, 4.67471168e-01],
       [9.80088343e-01, 1.99116572e-02],
       [2.19543874e-01, 7.80456126e-01],
       [9.80228656e-01, 1.97713440e-02],
       [5.32870215e-01, 4.67129785e-01],
       [2.04665903e-01, 7.95334097e-01],
       [4.54624613e-01, 5.45375387e-01],
       [9.79997022e-01, 2.00029777e-02],
       [9.17265160e-01, 8.27348397e-02],
       [9.80063049e-01, 1.99369510e-02],
       [5.31963498e-01, 4.68036502e-01],
       [9.80103692e-01, 1.98963076e-02],
       [2.04665903e-01, 7.95334097e-01],
       [9.80088343e-01, 1.99116572e-02],
       [9.80396634e-01, 1.96033655e-02],
       [1.37601371e-13, 1.00000000e+00],
       [9.80076039e-01, 1.99239610e-02],
       [9.80049346e-01, 1.99506542e-02],
       [1.95265599e-01, 8.04734401e-01],
       [9.80081590e-01, 1.99184103e-02],
       [4.54624613e-01, 5.45375387e-01],
       [4.42179974e-01, 5.57820026e-01],
       [9.80007508e-01, 1.99924916e-02],
       [4.23462433e-01, 5.76537567e-01],
       [9.17323212e-01, 8.26767881e-02],
       [5.33097414e-01, 4.66902586e-01],
       [9.80103692e-01, 1.98963076e-02],
       [9.80103692e-01, 1.98963076e-02],
       [9.80019709e-01, 1.99802911e-02],
       [5.86770365e-04, 9.99413230e-01],
       [9.17360250e-01, 8.26397497e-02],
       [7.17774187e-01, 2.82225813e-01],
       [4.54624613e-01, 5.45375387e-01],
       [9.78741587e-01, 2.12584133e-02],
       [9.80103692e-01, 1.98963076e-02],
       [9.80088343e-01, 1.99116572e-02],
       [9.80088343e-01, 1.99116572e-02],
       [4.83659931e-04, 9.99516340e-01],
       [9.17323212e-01, 8.26767881e-02],
       [5.32150346e-01, 4.67849654e-01],
       [5.33091253e-01, 4.66908747e-01],
       [9.12755438e-01, 8.72445617e-02],
       [7.42754598e-02, 9.25724540e-01],
       [9.80073462e-01, 1.99265379e-02],
       [5.34831475e-01, 4.65168525e-01],
       [9.16952836e-01, 8.30471636e-02],
       [2.04665903e-01, 7.95334097e-01],
       [9.80088343e-01, 1.99116572e-02],
       [1.87310765e-02, 9.81268924e-01],
       [9.80088343e-01, 1.99116572e-02],
       [9.80019709e-01, 1.99802911e-02],
       [1.31586117e-01, 8.68413883e-01],
       [9.80017381e-01, 1.99826189e-02],
       [7.17774187e-01, 2.82225813e-01],
       [9.80228656e-01, 1.97713440e-02],
       [9.80084133e-01, 1.99158666e-02],
       [9.84486507e-03, 9.90155135e-01],
       [3.35257836e-03, 9.96647422e-01],
       [9.80078175e-01, 1.99218250e-02],
       [1.17619713e-10, 1.00000000e+00],
       [2.04665903e-01, 7.95334097e-01],
       [7.17774187e-01, 2.82225813e-01],
       [9.80103692e-01, 1.98963076e-02],
       [1.81497355e-01, 8.18502645e-01],
       [5.33139146e-01, 4.66860854e-01],
       [7.74106713e-06, 9.99992259e-01],
       [4.56012740e-01, 5.43987260e-01],
       [9.11255904e-01, 8.87440962e-02],
       [9.17323212e-01, 8.26767881e-02],
       [5.36768836e-01, 4.63231164e-01],
       [9.80017381e-01, 1.99826189e-02],
       [8.95471895e-01, 1.04528105e-01],
       [9.79818357e-01, 2.01816426e-02],
       [2.04373840e-02, 9.79562616e-01],
       [9.80073462e-01, 1.99265379e-02],
       [9.17323212e-01, 8.26767881e-02],
       [5.32870215e-01, 4.67129785e-01],
       [1.20720749e-02, 9.87927925e-01],
       [9.17323212e-01, 8.26767881e-02],
       [9.80016910e-01, 1.99830898e-02],
       [5.26509453e-01, 4.73490547e-01],
       [9.80076039e-01, 1.99239610e-02],
       [5.33097414e-01, 4.66902586e-01],
       [9.78806959e-01, 2.11930408e-02],
       [9.79997022e-01, 2.00029777e-02],
       [5.34259312e-01, 4.65740688e-01],
       [1.36418155e-05, 9.99986358e-01],
       [4.54624613e-01, 5.45375387e-01],
       [1.94871035e-01, 8.05128965e-01],
       [9.80017381e-01, 1.99826189e-02],
       [9.80103692e-01, 1.98963076e-02],
       [5.35168615e-01, 4.64831385e-01],
       [9.80103692e-01, 1.98963076e-02],
       [9.80160737e-01, 1.98392629e-02],
       [9.80078175e-01, 1.99218250e-02],
       [9.80073462e-01, 1.99265379e-02],
       [9.79924870e-01, 2.00751301e-02],
       [9.16952836e-01, 8.30471636e-02],
       [5.34259312e-01, 4.65740688e-01],
       [1.81497355e-01, 8.18502645e-01],
       [8.99581402e-01, 1.00418598e-01],
       [5.33038569e-01, 4.66961431e-01],
       [9.79681964e-01, 2.03180358e-02],
       [9.80137444e-01, 1.98625564e-02],
       [3.41737846e-03, 9.96582622e-01],
       [9.78498716e-01, 2.15012845e-02],
       [4.51463769e-01, 5.48536231e-01],
       [2.91954075e-01, 7.08045925e-01],
       [9.80103692e-01, 1.98963076e-02],
       [2.80755607e-03, 9.97192444e-01],
       [9.80088343e-01, 1.99116572e-02],
       [9.80133579e-01, 1.98664211e-02],
       [3.33658473e-04, 9.99666342e-01],
       [4.44511368e-01, 5.55488632e-01],
       [5.31963498e-01, 4.68036502e-01],
       [9.80071310e-01, 1.99286900e-02],
       [9.80103692e-01, 1.98963076e-02],
       [9.79331395e-01, 2.06686054e-02],
       [9.80091280e-01, 1.99087199e-02],
       [9.10861505e-01, 8.91384949e-02],
       [3.24124548e-01, 6.75875452e-01]])